<h1 class="mt-4">Deep A.I.</h1>
<p class="lead mb-3">
  <i class="mdi mdi-account-circle mdi-24px"></i> <%= name %>
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ullam architecto
  accusantium ipsum, voluptatibus nisi amet itaque, quae ad odit, expedita
  praesentium laudantium ipsam aperiam quas. Excepturi eos animi id.
</p>
<a href="/users/signout" class="btn btn-secondary">Sign Out</a>
