<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="mdi mdi-robot mdi-48px"></i></h1>
      <p>Welcome to Deep A.I.</p>
      <a href="/dashboard" class="btn btn-primary btn-block mb-2">Test Images</a>
    </div>
  </div>
</div>
