<?xml version="1.0" encoding="utf-8"?>
<appSettings>
    <!-- Format: YYYY-MM-DD. Change this date to trigger subscription locks. -->
    <freeloadersExpiry value="2026-12-12" app="ppp"/>
    <freeloadersExpiry value="2025-05-01" app="other_app"/>
    
    <!-- Remote URL pointing to the latest platform installer payload -->
    <windowsUpdate value="https://somelink/ppp" app="ppp" />
    <windowsUpdate value="https://somelink/other" app="other_app" />
</appSettings>
